@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .polygon {
    clip-path: polygon(0 0, 100% 0%, 100% 70%, 0 100%);
  }
}

.date-picker .input {
  background-color: red !important;
  }
.react-datepicker__header {
  background-color: white !important;
  }

.react-datepicker__header {
  border-bottom: none !important;
}

.react-datepicker-wrapper {
  width: 100% !important;
}

.react-datepicker__triangle {
  display: none !important;
}

.react-datepicker__day-names{
  margin-top: 10px !important;
}

.react-datepicker__day-name{
  font-weight: 600 !important;
  color: rgb(150, 150, 150) !important;

}



.react-datepicker__navigation--previous{
  left: 145px !important;
  border: 1px solid gray !important ;
  border-radius: 3px !important;
  width: 20px !important;
  height:  20px !important;
  padding-top: 15px !important;
  padding-bottom: 5px !important;
  padding-right: 13px !important;
  padding-left: 8px !important;
  margin-top: 10px !important;
}

.react-datepicker__navigation--next{
  margin-right: 10px;
  border: 0.5px solid gray !important;
  border-radius: 3px !important;
  width: 20px !important;
  height:  20px !important;
  padding-top: 15px !important;
  padding-bottom: 5px !important;
  padding-left: 13px !important;
  padding-right: 8px !important;
  margin-top: 10px !important;
}


.react-datepicker__current-month{
  text-align: left !important;
  margin-left: 10px !important;
  margin-top: 5px !important;
  font-size: 15px !important;
  color: rgb(110, 110, 110) !important;
  font-weight: 300 !important;

}



.react-datepicker__week:nth-child(1)
.react-datepicker__day:nth-child(1){
  color: rgb(161, 161, 161) !important;
  opacity: 100 !important;
}

.react-datepicker__week:nth-child(1)
.react-datepicker__day:nth-child(2){
  color: rgb(161, 161, 161) !important;
  opacity: 100 !important;
}


.react-datepicker__week:nth-child(1)
.react-datepicker__day:nth-child(3){
  color: rgb(161, 161, 161) !important;
  opacity: 100 !important;
}


.react-datepicker__week:nth-child(1)
.react-datepicker__day:nth-child(4){
  color: rgb(161, 161, 161) !important;
  opacity: 100 !important;
}

.react-datepicker__week:nth-child(1)
.react-datepicker__day:nth-child(5){
  color: rgb(161, 161, 161) !important;
  opacity: 100 !important;

}


.testimonial-dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #ccc; /* Inactive dot color */
  margin: 0 4px; /* Adjust the margin as needed */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.testimonial-dot.active {
  background-color: #0070f3; /* Active dot color */
}
/* Add this CSS to your stylesheets or style tag in your component */
.pagination {
  display: flex;
  
}

.pagination-button {
  display: inline-flex;
  align-items: center;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 600;
  color: #333;
  border: 1px solid #ccc;
  background-color: #fff;
  transition: background-color 0.3s, color 0.3s;
}

.pagination-button:hover {
  background-color: #e0e0e0;
}

.pagination-button.active {
  background-color: rgb(0, 174, 255);
  color: #fff;
  font-weight: bold;
}
.pagination-button:focus {
  z-index: 20;
  outline-offset: 0;
}
